<body>
  <div class="header-gap">
    <mat-card class="main-container">
      <mat-card-header>
        <img
          class="header-image"
          mat-card-image
          src="https://lh6.googleusercontent.com/vHlmJXYwoJzkzWTJP1uGhFgY6sgJPIJCxl1tr5LufmBo8TvIU-EW8QLDYz6udujWDFqtNHbmn_0dVGc35tM--t4B5O2V17TC_BRV1DI6mX_3eYPzsxxIGXGBFgR0_hVQjw=w1020"
          alt="image of SOP UI"
        />
      </mat-card-header>
      <img />
    </mat-card>
    <div class="mid-gap">
      <mat-card class="text-container">
        <mat-card-header>
          <div class="text-container-title">
            <mat-card-title>Customized SOP Generator</mat-card-title>
          </div>
        </mat-card-header>
        <mat-card-content>
          <p>
            Fill this questionnaire for the student. After submitting, you will
            receive an email at the email address that you have provided with a
            Statement of Purpose customized for you. You can use and modify that
            as per your needs.
          </p>
        </mat-card-content>
        <mat-card-footer class="text-container-footer">
          <hr />
          <p class="footer-text">
            Sign in to Google to save your progress. Learn more
          </p>
          <hr />
          <p class="footer-text-1">* Indicates required question</p>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</body>
